.DS_Store
*.massey
*.ext-class-groups
Ahlqvist-Pink-I.code-workspace
*.vscode/c_cpp_properties.json
*.vscode/launch.json
*.vscode/settings.json
*.vscode/tasks.json
*.massey.dSYM/
*.ext-class-groups.dSYM/
*.make.sh
*.settings.json

# Build directory
*.build/
*.o
*.dSYM/
*.venv/
